<app-header title="{{'favorite' | translate}}" back_link="/profile" style="background-color: #3c426d; padding:10px 10px 0px 10px"></app-header>
<div style="width: 100%; background: #3c426d;">
  <ion-grid class="ion-padding">
    <div [dir]="lang == 'ar' ? 'rtl' : 'ltr'">
      <ion-row>
        <ion-col size="6" class="ion-text-center">
          <div style="margin: auto;">
            <img [src]="logo_url ? logo_url : '../../../assets/imgs/avatar.png'" width="80px" height="80px" style="border: 1px solid #f68625; border-radius: 50%;">
          </div>
        </ion-col>
        <ion-col size="6" style="font-size: 13px; color: white; margin-top: 30px;">
          <div style="margin-top: 3px;">
            <span> {{name}} </span>
          </div>
        </ion-col>
      </ion-row>
    </div>
    <div style="text-align: center; margin-top:15px;">
        <ion-button color="light" size="small" class="white-btn" shape="round" style="height: 23px;">
          <span class="follow-text">{{'followers' | translate}} </span>
          <span class="follow-text" style="margin-left: 4px;"> 236 </span>
        </ion-button>
        <ion-button color="light" size="small" class="white-btn" shape="round" style="height: 23px;">
          <span class="follow-text">{{'following' | translate}} </span>
          <span class="follow-text" style="margin-left: 4px;"> 40 </span>
        </ion-button>
    </div>
  </ion-grid>
</div>

<div style="text-align: right; padding: 10px; background: #f5f6f6;">
  <ion-button [color]="selected_dishes ? 'primary' : 'light'" size="small" shape="round" (click)="switchDishRest('dish')"> 
    <span [class]="selected_dishes ? 'unselected-button-text' : 'selected-button-text'"> {{'favorite_dishes' | translate}} </span> 
  </ion-button>
  <ion-button [color]="selected_dishes ? 'light' : 'primary'" size="small" shape="round" (click)="switchDishRest('restaurant')"> 
    <span [class]="selected_dishes ? 'selected-button-text' : 'unselected-button-text'"> {{'favorite_restaurant' | translate}} </span> 
  </ion-button>
</div>
<ion-content>
  <ion-grid style="padding-bottom: 50px;" class="ion-padding">
    <div *ngIf="!selected_dishes && !loading">
      <div *ngIf="!favorite_restaurants.length" class="ion-text-center no-content-label">
        No favorite restaurants
      </div>
      <ion-row *ngFor="let restaurant of favorite_restaurants">
        <div [dir]="lang == 'ar' ? 'rtl' : 'ltr'" class="list-div">
            <ion-row style="width: 100%;">
              <ion-col size="7" (click)="visitRestaurant(restaurant.id, restaurant.image_url, restaurant.logo_url, restaurant.name, restaurant.category_name, restaurant.favorite_checked)">
                <div style="padding-top: 15px;">
                  <div> <span class="list-rest-name-text"> {{restaurant.name}} </span></div>
                  <div> <span class="list-cate-name-text"> {{restaurant.category_name}} </span></div>
                </div>
              </ion-col>
              <ion-col size="2" class="ion-text-center">
                <div style="padding-top: 10px;">
                  <img [src]="restaurant.favorite_checked ? '../../../assets/imgs/heart_red.png' : '../../../assets/imgs/heart_white.png'" 
                    width="26px" height="26px" (click)="updateFavorite(restaurant.favorite_checked, restaurant.id, 1)">
                </div>
                <div class="list-distance-text">
                  <span> {{restaurant.distance}} </span>
                  <span> {{'km' | translate}} </span>
                </div>
              </ion-col>
              <ion-col size="3">
                <img [src]="restaurant.logo_url" width="65px" height="65px" class="list-logo-img">
              </ion-col>
            </ion-row>
        </div>
      </ion-row>
    </div>

    <div *ngIf="selected_dishes && !loading">
      <div *ngIf="!favorite_dishes.length" class="ion-text-center no-content-label">
        No favorite dishes
      </div>
      <ion-row *ngFor="let dish of favorite_dishes">
        <div [dir]="lang == 'ar' ? 'rtl' : 'ltr'" class="list-div">
            <ion-row style="width: 100%;">
              <ion-col size="7" (click)="visitDish(dish.id, dish.name, dish.price, dish.image_url, dish.detail, dish.favorite_checked)">
                <div style="padding-top: 12px;">
                  <div> <span class="list-rest-name-text"> {{dish.name}} </span></div>
                  <div [dir]="lang == 'ar' ? 'rtl' : 'ltr'" class="list-cate-name-text"> 
                    <span> {{dish.price}} </span>
                    <span> {{'SAR' | translate}} </span>
                  </div>
                </div>
              </ion-col>
              <ion-col size="2" class="ion-text-center">
                <div style="padding-top: 10px;">
                  <img [src]="dish.favorite_checked ? '../../../assets/imgs/heart_red.png' : '../../../assets/imgs/heart_white.png'" 
                    width="26px" height="26px" (click)="updateFavorite(dish.favorite_checked, dish.id, 2)">
                </div>
              </ion-col>
              <ion-col size="3">
                <img [src]="dish.image_url" width="65px" height="65px" class="list-logo-img">
              </ion-col>
            </ion-row>
        </div>
      </ion-row>
    </div>
  </ion-grid>
</ion-content>

<div class="spin" *ngIf="loading">
  <ion-spinner name="bubbles"></ion-spinner>
</div>

<app-footer active_page="profile_page"></app-footer>
