<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>782070961638-g9117mheafg2cq0di35878qsj2f9tf69.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.782070961638-g9117mheafg2cq0di35878qsj2f9tf69</string>
	<key>API_KEY</key>
	<string>AIzaSyBzqH12lw_mus8HvlpYteT259FejYTm4DE</string>
	<key>GCM_SENDER_ID</key>
	<string>782070961638</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.cmenu.cmenulist</string>
	<key>PROJECT_ID</key>
	<string>ionic-restaurant-proj</string>
	<key>STORAGE_BUCKET</key>
	<string>ionic-restaurant-proj.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:782070961638:ios:a4d69d171abd924b7ff227</string>
	<key>DATABASE_URL</key>
	<string>https://ionic-restaurant-proj.firebaseio.com</string>
</dict>
</plist>