<div style="height: 100%; padding:20px; background: none;">
    <ion-row style="height: 100%;" id="qrscan_title">
        <ion-col class="ion-text-center ion-align-self-center">
            <ion-button color="light" class="qrscan-cancel-btn" shape="round"> Scan QR code to see the menu </ion-button>
        </ion-col>
    </ion-row>
</div>
<ion-grid>
    <ion-row>
        <ion-button color="light" class="qrscan-cancel-btn" shape="round" (click)="cancelScan()"> Cancel </ion-button>
    </ion-row>
</ion-grid>