<app-header title="{{'contact_us' | translate}}" back_link="/profile" style="background-color: #f5f6f6; padding:10px 10px;"></app-header>
<div style="background-color: #f5f6f6;">
  <ion-row>
    <ion-col class="ion-align-self-center ion-text-center">
      <ion-button color="primary" size="small" shape="round" (click)="callNow()">
        <span> {{'contact_us_through' | translate}} </span>
      </ion-button>
    </ion-col>
  </ion-row>
  <div class="bold-opacity-title">
    <ion-row>
      <ion-col class="ion-align-self-center ion-text-center">
        <ion-icon name="call"></ion-icon>
        <span> 0570786888 </span>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-align-self-center ion-text-center" style="color: #3c426d;">
        <ion-icon name="mail"></ion-icon>
        <span> cmenu@cmenu.com </span>
      </ion-col>
    </ion-row>
  </div>
</div>

<ion-content>
  <ion-grid>
    <div [dir]="lang == 'ar' ? 'rtl' : 'ltr'" style="margin-top: 20px;" class="bold-opacity-title">
      <form #form="ngForm" (ngSubmit)="sendOpinion(form)">
        <ion-row>
          <ion-col class="ion-align-self-center ion-text-center">
            <span style="font-size: 17px; text-decoration: underline;"> {{'or_leave_your_message' | translate}} </span>
          </ion-col>
        </ion-row>
        <div style="padding: 8px;">
          <ion-row>
            <span style="font-size: 14px;"> {{'email_address' | translate}} </span>
          </ion-row>
          <ion-row>
            <ion-input type="email" ngModel required color="primary" value="" name="email" style="background: white;"></ion-input>
          </ion-row>
        </div>
        <div style="padding: 8px;">
          <ion-row>
            <span style="font-size: 14px;"> {{'phone_number' | translate}} </span>
          </ion-row>
          <ion-row>
            <ion-input type="number" ngModel required color="primary" value="" name="phone_number" style="background: white;"></ion-input>
          </ion-row>
        </div>
        <div style="padding: 8px; font-size: 12px;">
          <ion-row>
            <span> {{'white_your_message_here' | translate}} </span>
          </ion-row>
          <ion-row>
            <ion-textarea type="number" ngModel required color="primary" value="" name="message" style="background: white; border:1px solid rgba(60, 67, 109, 0.5);"></ion-textarea>
          </ion-row>
        </div>
        <div style="padding: 5px;" [dir]="lang == 'en' ? 'rtl' : 'ltr'">
          <ion-row>
            <ion-button type="submit" color="primary" shape="round" [disabled]="form.invalid" style="width: 45%; height:30px;">{{'send' | translate}}</ion-button>
          </ion-row>
        </div>
      </form>
    </div>
  </ion-grid>
</ion-content>
<app-footer active_page="profile_page"></app-footer>
