<app-header title="{{'settings' | translate}}" back_link="/profile" style="background: #f5f6f6; padding: 10px;"></app-header>
<ion-content>
  <ion-grid class="ion-text-center">
    <div style="color: #3c426d; font-weight: bold;">
      {{'personal_data' | translate}}
    </div>
    <div style="margin: auto;">
      <img [src]="image ? image.path : '../../../assets/imgs/avatar.png'" width="80px" height="80px" style="border-radius: 50%; border: 1px solid #f68625;">
    </div>
    <div style="color: #3c426d; font-weight: bold; font-size: 13px; margin-top: 8px;">
      <span (click)="selectImage()"> {{'change_photo' | translate}} </span>
    </div>
  </ion-grid>

  <ion-grid style="color: #3c426d; padding: 5px 15px;">
    <div [dir]="lang == 'ar' ? 'rtl' : 'ltr'">
      <ion-row>
        <ion-col size="3" class="ion-align-self-center" style="font-size:13px;">
          <span class="bold-opacity-title"> {{'name' | translate}} </span>
        </ion-col>
        <ion-col size="9" class="ion-align-self-center">
          <ion-row class="pen_change_row">
            <ion-col size="10">
              <ion-input type="text" color="primary" value="myname" #input_name [disabled]="name_flag" (ionFocus)="getFocus('name')" (ionBlur)="loseFocus('name')"></ion-input>
            </ion-col>
            <ion-col size="2">
              <img src="../../../assets/imgs/pencil.png" width="25px" height="25px" (click)="clickPencil('name')">
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="3" class="ion-align-self-center" style="font-size:13px;">
          <span class="bold-opacity-title"> {{'username' | translate}} </span>
        </ion-col>
        <ion-col size="9" class="ion-align-self-center">
          <ion-row class="pen_change_row">
            <ion-col size="10">
              <ion-input type="text" color="primary" value="myusername" #input_username [disabled]="username_flag" (ionFocus)="getFocus('username')" (ionBlur)="loseFocus('username')"></ion-input>
            </ion-col>
            <ion-col size="2">
              <img src="../../../assets/imgs/pencil.png" width="25px" height="25px" (click)="clickPencil('username')">
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="3" class="ion-align-self-center" style="font-size:13px;">
          <span class="bold-opacity-title"> {{'bio' | translate}} </span>
        </ion-col>
        <ion-col size="9" class="ion-align-self-center">
          <ion-row class="pen_change_row">
            <ion-col size="10">
              <ion-input type="text" color="primary" value="mybio" #input_bio [disabled]="bio_flag" (ionFocus)="getFocus('bio')" (ionBlur)="loseFocus('bio')"></ion-input>
            </ion-col>
            <ion-col size="2">
              <img src="../../../assets/imgs/pencil.png" width="25px" height="25px" (click)="clickPencil('bio')">
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="3" class="ion-align-self-center" style="font-size:13px;">
          <span class="bold-opacity-title"> {{'phone_no' | translate}} </span>
        </ion-col>
        <ion-col size="9" class="ion-align-self-center">
          <ion-row class="pen_change_row">
            <ion-col size="10" class="ion-align-self-center">
              <ion-row class="phone-number-row" style="transform: translateY(-3px);">
                <ion-col size="1">
                  <span style="padding: 9px 0px; color: #3c426d">+</span>
                </ion-col>
                <ion-col size="4">
                  <ion-input type="number" #input_country_code color="primary" name="country_code" [disabled]="country_code_flag" (ionChange)="changeCountryCode($event)"></ion-input>
                </ion-col>
                <ion-col size="7">
                  <ion-input type="number" #input_phone_number color="primary" name="phone_number" [disabled]="phone_flag" (ionFocus)="getFocus('phone_number')" (ionBlur)="loseFocus('phone_number')"></ion-input>
                </ion-col>
              </ion-row>
            </ion-col>
            <ion-col size="2">
              <img src="../../../assets/imgs/pencil.png" width="25px" height="25px" (click)="clickPencil('phone_number')">
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="3" class="ion-align-self-center" style="font-size:13px;">
          <span class="bold-opacity-title"> {{'location' | translate}} </span>
        </ion-col>
        <ion-col size="9" class="ion-align-self-center">
          <ion-row class="pen_change_row">
            <ion-col size="10">
              <ion-input type="text" color="primary" value="mylocation" #input_location [disabled]="location_flag" (ionFocus)="getFocus('location')" (ionBlur)="loseFocus('location')"></ion-input>
            </ion-col>
            <ion-col size="2">
              <img src="../../../assets/imgs/pencil.png" width="25px" height="25px" (click)="clickPencil('location')">
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>

      <ion-row style="margin-top: 15px;">
        <ion-col class="ion-align-self-center ion-text-center" dir="ltr">
          <!-- <span style="font-size: 14px;"> {{'the_language' | translate}} </span> -->
          <ion-button [color]="lang == 'en' ? 'primary' : 'light'" size="small" shape="round" (click)="setLang('en')">
            <span> English </span>
          </ion-button>
          <ion-button [color]="lang == 'ar' ? 'primary' : 'light'" size="small" shape="round" (click)="setLang('ar')">
            <span> عربـــــي </span>
          </ion-button>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="2"></ion-col>
        <ion-col size="4" class="ion-align-self-center ion-text-center">
          <span style="font-size: 14px;" class="bold-opacity-title"> {{'profile_privacy' | translate}} </span>
        </ion-col>
        <ion-col size="4" class="ion-align-self-center ion-text-center">
          <ion-toggle color="medium" [checked]="profile_privacy" (ionChange)="changeToggle()"></ion-toggle>
        </ion-col>
        <ion-col size="2"></ion-col>
      </ion-row>
    </div>
  </ion-grid>
</ion-content>
<app-footer active_page="profile_page"></app-footer>