<app-header title="{{'profile' | translate}}" back_link="/home" style="background-color: #3c426d; padding:10px 10px 0px 10px"></app-header>
<div style="width: 100%; background: #3c426d;">
  <ion-grid class="ion-padding">
    <div [dir]="lang == 'ar' ? 'rtl' : 'ltr'">
      <ion-row>
        <ion-col size="4">
          <div class="ion-text-center">
            <img [src]="logo_url ? logo_url : '../../../assets/imgs/avatar.png'" width="80px" height="80px" style="border: 1px solid #f68625; border-radius: 50%;">
          </div>
        </ion-col>
        <ion-col size="8" style="font-size: 15px; color: white; margin-top: 10px;">
          <div style="color: #f68625; font-weight: bold;">
            <span [dir]="lang == 'ar' ? 'rtl' : 'ltr'"> {{name}} </span>
          </div>
          <div style="margin-top: 3px;">
            <span [dir]="lang == 'ar' ? 'rtl' : 'ltr'"> {{bio}} </span>
          </div>
          <div style="color: #f68625; margin-top: 3px;">
            <span [dir]="lang == 'ar' ? 'rtl' : 'ltr'"> {{city_name}} </span>
          </div>
        </ion-col>
      </ion-row>
    </div>
    <div style="text-align: center; margin-top:15px;">
        <ion-button color="light" size="small" class="white-btn" shape="round" style="height: 23px;">
          <span class="follow-text">{{'followers' | translate}} </span>
          <span class="follow-text" style="margin-left: 4px;"> {{followers}} </span>
        </ion-button>
        <ion-button color="light" size="small" class="white-btn" shape="round" style="height: 23px;">
          <span class="follow-text">{{'following' | translate}} </span>
          <span class="follow-text" style="margin-left: 4px;"> {{followings}} </span>
        </ion-button>
    </div>
  </ion-grid>
</div>

<ion-content>
  <ion-grid style="height: 65%;" class="ion-padding">
    <ion-button color="light" class="white-btn" shape="round" style="width: 100%;" (click)="goToFavorite()">
      <img src="../../../assets/imgs/favorite.png" width="20" height="20" style="margin-right: 60%; opacity: 0.9;">
      <span class="primary-text">{{'favorite' | translate}} </span>
    </ion-button>
    <ion-button color="light" class="white-btn" shape="round" style="width: 100%;" (click)="goToFriends()">
      <img src="../../../assets/imgs/friends.png" width="20" height="20" style="margin-right: 60%; opacity: 0.9;">
      <span class="primary-text">{{'friends' | translate}} </span>
    </ion-button>
    <ion-button color="light" class="white-btn" shape="round" style="width: 100%;" (click)="goToSettings()">
      <img src="../../../assets/imgs/settings.png" width="20" height="20" style="margin-right: 60%; opacity: 0.9;">
      <span class="primary-text">{{'settings' | translate}} </span>
    </ion-button>
    <ion-button color="light" class="white-btn" shape="round" style="width: 100%;" (click)="goToAbout()">
      <img src="../../../assets/imgs/about_us.png" width="20" height="20" style="margin-right: 60%; opacity: 0.9;">
      <span class="primary-text">{{'about_us' | translate}} </span>
    </ion-button>
    <ion-button color="light" class="white-btn" shape="round" style="width: 100%;" (click)="goToContact()">
      <img src="../../../assets/imgs/contact_us.png" width="20" height="20" style="margin-right: 60%; opacity: 0.9;">
      <span class="primary-text">{{'contact_us' | translate}} </span>
    </ion-button>
    <!-- <ion-button color="light" class="white-btn" shape="round" style="width: 100%;" (click)="goToTerms()">
      <img src="../../../assets/imgs/terms_of_use.png" width="20" height="20" style="margin-right: 50%; opacity: 0.9;">
      <span class="primary-text">{{'terms_of_use' | translate}} </span>
    </ion-button> -->
  </ion-grid>
</ion-content>

<app-footer active_page="profile_page"></app-footer>
