<app-header title="{{'friends' | translate}}" back_link="/profile" style="background-color: #3c426d; padding:10px 10px"></app-header>
<div style="background-color: #f5f6f6;">
  <ion-searchbar mode="ios" [dir]="lang == 'ar' ? 'rtl' : 'ltr'" (ionChange)="findPeople($event)" placeholder="{{'find_more_people' | translate}}">
  </ion-searchbar>
</div>

<ion-content>
  <ion-row *ngIf="!loading && !friends.length" style="height: 100%;">
    <ion-col class="ion-align-self-center no-content-label" style="text-align: center;">
      No friends
    </ion-col>
  </ion-row>

  <ion-list *ngIf="!loading && friends.length">
    <ion-item *ngFor="let friend of friends" (click)="visit(friend.id)">
      <ion-avatar slot="start">
        <img [src]="friend.logo_url">
      </ion-avatar>
      <ion-row style="width: 100%;">
        <ion-col size="3" class="ion-align-self-center" style="text-align: center;">
          <ion-label>
            <span *ngIf="friend.is_friend" class="friend-tick"> Friend </span>
          </ion-label>
        </ion-col>
        <ion-col size="9">
          <ion-label>
            <h3 style="color: #f68625;">{{friend.name}}</h3>
            <!-- <h3 style="color: #3c426d;">{{friend.city}}</h3> -->
            <span style="color: #3c426d; font-size: 10px;">{{friend.bio}}</span>
          </ion-label>
        </ion-col>
      </ion-row>
    </ion-item>
  </ion-list>
</ion-content>
<div class="spin" *ngIf="loading">
  <ion-spinner name="bubbles"></ion-spinner>
</div>
<app-footer active_page="profile_page"></app-footer>
