<app-header title="{{'restaurant' | translate}}" back_link="/home" style="background-color: #f5f6f6; padding:10px 10px"></app-header>
<div style="height: 238px;">
  <div class="cover-div">
    <img [src]="cover_img_url" width="100%" height="180px" class="cover-img">
    <img [src]="logo_url ? logo_url : '../../../assets/imgs/splash.png'" width="80px" height="80px" class="logo-img">
    <img [src]="restaurant_favorite_checked ? '../../../assets/imgs/heart_red.png' : '../../../assets/imgs/heart_white.png'" 
              width="35px" height="35px" (click)="setFavorite()" class="favorite-icon">
    <div class="bottom-div">
      <ion-row>
        <ion-col size="5" class="ion-text-left">
          <div [dir]="lang == 'ar' ? 'rtl' : 'ltr'" style="font-size: 12px; padding-top: 32px;">
            <ion-icon name="pin"></ion-icon>
            <span> 12 </span>
            <span> {{'km' | translate}} </span>
          </div>
        </ion-col>
        <ion-col size="2">
          
        </ion-col>
        <ion-col size="5" class="ion-text-right">
          <div>
            <span style="font-size: 20px;" class="bold-opacity-title"> {{restaurant_name}} </span>
          </div>
          <div>
            <span> {{restaurant_cate}} </span>
          </div>
        </ion-col>
      </ion-row>
    </div>
  </div>
</div>

<div style="background: #f5f6f6; padding: 5px 0px;">
  <ion-slides #menu_slides [options]="slideOpts">
    <ion-slide *ngFor="let menu of menus">
      <ion-button [color]="selected_menu_id == menu.menu_id ? 'primary' : 'medium'" size="small" shape="round" (click)="selectMenu(menu.menu_id)" style="width: 90%;">
        <span> {{menu.menu_name}} </span>
      </ion-button>
    </ion-slide>
  </ion-slides>
</div>

<ion-content #dish_content (ionScroll)="scrollDishes($event)" (ionScrollEnd)="scrollDishesEnd()" [scrollEvents]="true">
  <ion-grid>
    <ion-row>
      <ion-col size="6" *ngFor="let dish of dishes" style="padding-bottom: 10px;">
        <div [id]="'dish_' + dish.dish_id">
          <img [src]="dish.dish_image" width="100%" height="100px" class="cover-img" (click)="visitDish(dish.dish_id)">
          <img [src]="dish.favorite_checked ? '../../../assets/imgs/heart_red.png' : '../../../assets/imgs/heart_white.png'" 
            width="25px" height="25px" (click)="setFavoriteDish(dish.dish_id)" class="dish-heart-img">
        </div>
        <div style="height: 25px; background: white; font-size: 12px; margin-top:-5px;">
          <ion-row>
            <ion-col size="5" class="ion-text-left">
              <div [dir]="lang == 'ar' ? 'rtl' : 'ltr'" style="color: #f68625;">
                <span> {{dish.price}} </span>
                <span> {{'SAR' | translate}} </span>
              </div>
            </ion-col>
            <ion-col size="7" class="ion-text-right">
              <div class="bold-opacity-title" style="font-size: 15px;">
                <span> {{dish.dish_name}} </span>
              </div>
            </ion-col>
          </ion-row>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<app-footer active_page="home_page"></app-footer>
