<app-header title="{{'restaurant' | translate}}" back_link="/home" [params]="from_where" style="background-color: #f5f6f6; padding:10px 10px"></app-header>

<div style="height: 238px;">
  <div class="cover-div">
    <img [src]="cover_img_url" width="100%" height="180px" class="cover-img">
    <img [src]="logo_url ? logo_url : '../../../assets/imgs/splash.png'" width="80px" height="80px" class="logo-img">
    <img [src]="restaurant_favorite_checked ? '../../../assets/imgs/heart_red.png' : '../../../assets/imgs/heart_white.png'" 
              width="35px" height="35px" class="favorite-icon" (click)="updateFavorite(restaurant_favorite_checked, restaurant_id, 1)">
    <div class="bottom-div">
      <ion-row>
        <ion-col size="4" class="ion-text-left">
          <div [dir]="lang == 'ar' ? 'rtl' : 'ltr'" style="font-size: 12px; padding-top: 32px;">
            <ion-icon name="pin"></ion-icon>
            <span> 12 </span>
            <span> {{'km' | translate}} </span>
          </div>
        </ion-col>
        <ion-col size="8" class="ion-text-right">
          <div>
            <span style="font-size: 20px;" class="bold-opacity-title"> {{restaurant_name}} </span>
          </div>
          <div>
            <span> {{restaurant_cate}} </span>
          </div>
        </ion-col>
      </ion-row>
    </div>
  </div>
</div>

<div *ngIf="!loading" style="background: #f5f6f6; padding: 5px 0px;">
  <div *ngIf="!menus.length" class="ion-text-center no-content-label">
    No menus
  </div>
  <ion-slides #menu_slides [options]="slideOpts" *ngIf="menus.length">
    <ion-slide *ngFor="let menu of menus">
      <ion-button [color]="selected_menu_id == menu.id ? 'primary' : 'medium'" size="small" shape="round" (click)="selectMenu(menu.id)" style="width: 90%;">
        <span> {{menu.name}} </span>
      </ion-button>
    </ion-slide>
  </ion-slides>
</div>

<ion-content *ngIf="!loading" #dish_content (ionScroll)="scrollDishes($event)" (ionScrollEnd)="scrollDishesEnd()" [scrollEvents]="true">
  <div *ngIf="!dishes.length" class="ion-text-center no-content-label">
    No dishes
  </div>
  <ion-grid *ngIf="dishes.length">
    <ion-row>
      <ion-col size="6" *ngFor="let dish of dishes" style="padding-bottom: 10px;">
        <div class="dish-item-div">
          <div [id]="'dish_' + dish.id">
            <img [src]="dish.image_url" width="100%" height="100px" class="cover-img" 
            (click)="visitDish(dish.id, dish.name, dish.price, dish.image_url, dish.detail, dish.favorite_checked)">
            <img [src]="dish.favorite_checked ? '../../../assets/imgs/heart_red.png' : '../../../assets/imgs/heart_white.png'" 
              width="25px" height="25px" (click)="updateFavorite(dish.favorite_checked, dish.id, 2)" class="dish-heart-img">
            <img [src]="'../../../assets/imgs/logo_menu.png'" width="30px" height="15px" class="logo-img-dish">
          </div>
          <div style="height: 25px; background: white; font-size: 12px; margin-top:-5px;">
            <ion-row>
              <ion-col size="5" class="ion-text-left">
                <div [dir]="lang == 'ar' ? 'rtl' : 'ltr'" style="color: #f68625;">
                  <span> {{dish.price}} </span>
                  <span> {{'SAR' | translate}} </span>
                </div>
              </ion-col>
              <ion-col size="7" class="ion-text-right">
                <div class="bold-opacity-title" style="font-size: 12px;">
                  <span> {{dish.name}} </span>
                </div>
              </ion-col>
            </ion-row>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<div class="spin-dish" *ngIf="loading">
  <ion-spinner name="bubbles"></ion-spinner>
</div>

<app-footer active_page="home_page"></app-footer>
