<app-header title="{{'about_us' | translate}}" back_link="/profile" style="background-color: #f5f6f6; padding:10px 10px;"></app-header>
<div style="height:100%; background:#f5f6f6">
  <ion-grid class="ion-padding">
    <ion-row>
      <ion-col class="ion-align-self-center ion-text-center">
        <img src="../../../assets/imgs/logo_menu.png" width="35%" alt="Splash">
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-align-self-center ion-text-center">
        <span style="color: #3c426d; font-size: 12px; font-weight: bold; opacity: 0.9;">
          {{'description_of_about_us' | translate}}
        </span>
      </ion-col>
    </ion-row>

    <div style="margin-top: 30px;">
      <ion-row>
        <ion-col class="ion-align-self-center ion-text-center">
          <ion-button color="primary" size="small" shape="round" (click)="callNow()">
            <span> {{'call_us' | translate}} </span>
          </ion-button>
        </ion-col>
      </ion-row>

      <div style="color: #3c426d; font-weight: bold; opacity: 0.8;">
        <ion-row>
          <ion-col class="ion-align-self-center ion-text-center">
            <ion-icon name="call"></ion-icon>
            <span> 0570786888 </span>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="ion-align-self-center ion-text-center">
            <ion-icon name="mail"></ion-icon>
            <span> cmenu@cmenu.com </span>
          </ion-col>
        </ion-row>
      </div>
    </div>
  </ion-grid>
</div>
<app-footer active_page="profile_page"></app-footer>
