<div>
  <ion-grid style="height: 15%;" class="ion-padding">
    <app-header title="{{'login' | translate}}" back_link="/start"></app-header>
  </ion-grid>

  <ion-grid *ngIf="!loading" style="margin:20% 7%; color: #3c426d;">
    <form #form="ngForm" (ngSubmit)="login(form)">
      <div [dir]="lang == 'ar' ? 'rtl' : 'ltr'">
        <ion-row class="input-field">
          <ion-col size="2" class="ion-align-self-center" style="text-align: center;">
            <ion-icon size="large" class="normal-icon" name="mail"></ion-icon>
          </ion-col>
          <ion-col size="10">
            <ion-row>
              <span class="field-text">{{'email_address' | translate}}</span>
            </ion-row>
            <ion-row>
              <ion-input type="text" #email_input ngModel required color="primary" name="email"></ion-input>
            </ion-row>
          </ion-col>
        </ion-row>
        <ion-row class="input-field">
          <ion-col size="2" class="ion-align-self-center" style="text-align: center;">
            <img src="../../../assets/imgs/icon_password.png" width="25px" height="25px">
          </ion-col>
          <ion-col size="10">
            <ion-row>
              <span class="field-text">{{'password' | translate}}</span>
            </ion-row>
            <ion-row>
              <ion-input type="password" #password_input ngModel required color="primary" name="password"></ion-input>
            </ion-row>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="ion-text-center" style="font-size: 12px;">
            <span> Remember Me </span>
            &nbsp;
            <ion-checkbox (ionChange)="rememberMe($event)" [checked]="remebered" color="primary" style="transform: translateY(5px);"> </ion-checkbox>
          </ion-col>
        </ion-row>
        <ion-row style="margin-top: 20px;">
          <ion-col class="ion-text-center">
            <ion-button type="submit" color="primary" style="width: 85%" shape="round" [disabled]="form.invalid">{{'login' | translate}}</ion-button>
          </ion-col>
        </ion-row>
      </div>
    </form>
    
  </ion-grid>
  <div class="spin" *ngIf="loading">
    <ion-spinner name="bubbles"></ion-spinner>
  </div>
</div>
