.cover-div {
    position: relative;
    // background: #c5c5c5;
    // height: 300px;
    width: 100% !important;
}

.logo-img {
    position: absolute;
    left: 10px;
    bottom: 12px;
    width: 60px !important;
    height: 28px !important;
    opacity: 0.8;
}

.favorite-icon {
    position: absolute;
    left: 10px;
    top: 10px;
}

.bottom-div {
    color: #3c426d;
    padding: 2px;
}

// ion-slides {
// 	height: 100% !important;

// 	ion-slide { 
// 		align-items: start;
// 		text-align: center;

// 		// .slide-content {
// 		// 	padding: 30px 10%;

// 		// 	.image-wrap {
// 		// 		width: 80%;
// 		// 		margin: 0 auto;

// 		// 		img {
// 		// 			width: 100%;
// 		// 		}
// 		// 	}

// 		// 	.text p {
// 		// 		margin-top: 0;
// 		// 		margin-bottom: 10px;
// 		// 	}
// 		// }
// 	}
// }

.swiper-slide .cover-img {
    height: 250px !important;
    width: 350px !important;
}

.swiper-slide .cover-img-blank {
    height: 250px !important;
    opacity: 0.3;
}