<app-header title="{{'dish' | translate}}" back_link="/restaurant" [params]="back_params" style="background-color: #f5f6f6; padding:10px 10px;"></app-header>
<ion-content>
  <ion-row style="height: 100%;">
    <ion-col class="ion-text-center ion-align-self-center">
        <ion-slides #dish_slides [options]="slideOpts" *ngIf="dishes.length" (ionSlideDidChange)="slideDidChange()">
          <ion-slide *ngFor="let dish of dishes">
            <div style="height: 100%;">
              <div class="cover-div">
                <img [src]="dish.image_url" width="100%" height="100%" [class]="dish.image_url_flag ? 'cover-img' : 'cover-img-blank'">
                <img *ngIf="dish.image_url_flag" src="../../../assets/imgs/logo_menu.png" class="logo-img">
              </div>
              <div class="bottom-div">
                <ion-row style="font-size: 18px;">
                  <ion-col size="4" class="ion-text-left" style="color: #f68625">
                    <div [dir]="lang == 'ar' ? 'rtl' : 'ltr'">
                      <span> {{dish.price}} </span>
                      <span> {{'SAR' | translate}} </span>
                    </div>
                  </ion-col>
                  <ion-col size="8" class="ion-text-right">
                    <div>
                      <span class="bold-opacity-title"> {{dish.name}} </span>
                    </div>
                  </ion-col>
                </ion-row>
              </div>
            </div>
          </ion-slide>
        </ion-slides>
    </ion-col>
  </ion-row>
  <!-- <ion-grid>
    <div [dir]="lang == 'ar' ? 'rtl' : 'ltr'" style="margin-top: 10px;" class="bold-opacity-title">
      <form #form="ngForm" (ngSubmit)="sendOpinion(form)">
        <div style="padding: 8px; font-size: 12px;">
          <ion-row>
            <span> {{'your_opinion_about_the_dish' | translate}} </span>
          </ion-row>
          <ion-row>
            <ion-textarea type="number" ngModel required color="primary" value="" name="opinion" style="background: white; border:1px solid rgba(60, 67, 109, 0.5);"></ion-textarea>
          </ion-row>
        </div>
        <div style="padding: 5px;" [dir]="lang == 'en' ? 'rtl' : 'ltr'">
          <ion-row>
            <ion-button type="submit" color="primary" shape="round" [disabled]="form.invalid" style="height:30px;">{{'post_your_opinion_on_this_dish' | translate}}</ion-button>
          </ion-row>
        </div>
      </form>
    </div>
  </ion-grid> -->
  <div class="spin" *ngIf="loading">
    <ion-spinner name="bubbles"></ion-spinner>
  </div>
</ion-content>

<app-footer active_page="home_page"></app-footer>
