.cover-div {
    position: relative;
    background: grey;
    height: 230px;
}

.logo-img {
    position: absolute;
    left: 10px;
    bottom: 10px;
    opacity: 0.8;
}

.favorite-icon {
    position: absolute;
    left: 10px;
    top: 10px;
}

.bottom-div {
    background: white;
    color: #3c426d;
    padding: 2px;
}