<ion-content>
  <ion-grid style="height: 15%;" class="ion-padding">
    <app-header title="{{'register' | translate}}" back_link="/register"></app-header>
  </ion-grid>

  <ion-grid style="margin:0 7%; color: #3c426d; font-weight: bold;">
    <form #form="ngForm" (ngSubmit)="sendCode(form)">
      <ion-row class="ion-padding">
        <ion-col style="text-align: center;">
          <span> {{'verify_your_phone_number' | translate}} </span>
        </ion-col>
      </ion-row>
      <ion-row class="input-field">
        <ion-col size="2" class="ion-align-self-center" style="text-align: center;">
          <ion-icon size="large" class="register-icon" name="call"></ion-icon>
        </ion-col>
        <ion-col size="10">
          <ion-row>
            <span class="field-text">{{'phone_number' | translate}}</span>
          </ion-row>
          <ion-row>
            <ion-input type="text" color="primary" [value]="cell_number" disabled="true"></ion-input>
          </ion-row>
        </ion-col>
      </ion-row>

      <ion-row class="input-field" style="margin-top: 20px;">
        <ion-col size="7">
          <ion-row>
            <ion-col size="3" class="ion-align-self-center" style="text-align: center;">
              <ion-input class="code-text" type="text" #first_input ngModel required color="primary" name="first_letter" maxlength="1" (ionChange)="changeInputFirst($event)"></ion-input>
            </ion-col>
            <ion-col size="3" class="ion-align-self-center" style="text-align: center;">
              <ion-input class="code-text" type="text" #second_input ngModel required color="primary" name="second_letter" maxlength="1" (ionChange)="changeInputSecond($event)"></ion-input>
            </ion-col>
            <ion-col size="3" class="ion-align-self-center" style="text-align: center;">
              <ion-input class="code-text" type="text" #third_input ngModel required color="primary" name="third_lettter" maxlength="1" (ionChange)="changeInputThird($event)"></ion-input>
            </ion-col>
            <ion-col size="3" class="ion-align-self-center" style="text-align: center;">
              <ion-input class="code-text" type="text" #forth_input ngModel required color="primary" name="forth_letter" maxlength="1"></ion-input>
            </ion-col>
          </ion-row>
        </ion-col>

        <ion-col size="5" class="ion-align-self-center" style="text-align: center;">
          <span style="font-size: 14px;">{{'verification_code' | translate}}</span>
        </ion-col>
      </ion-row>

      <ion-row style="margin-top: 20px;">
        <ion-col class="ion-text-center">
          <ion-button type="submit" color="primary" style="width: 80%" shape="round" [disabled]="form.invalid">{{'send' | translate}}</ion-button>
        </ion-col>
      </ion-row>
    </form>
  </ion-grid>

</ion-content>
