.slide-image {
    width: 400px !important;  // 400px
    height: 350px !important; // 350px
    background: grey !important;
}

.slide-name {
    color: white;
    margin-bottom: 10px;
}

.slide-price {
    color: white;
    margin-top: 10px;
}