<div style="width: 100%; height: 100%;" (click)="dismiss()">
  <ion-row style="height: 100%;">
    <ion-col class="ion-align-self-center" style="text-align: center;">
      <ion-slides #dish_slides [options]="slideOpts" *ngIf="dishes.length" (ionSlideDidChange)="slideDidChange()">
        <ion-slide *ngFor="let dish of dishes">
          <div style="height: 100%;" class="ion-padding">
            <div class="slide-name"> {{dish.name}} </div>
            <img [src]="dish.image_url" class="slide-image">
            <div class="slide-price" [dir]="lang == 'ar' ? 'rtl' : 'ltr'"> 
              <span> {{dish.price}} </span>
              <span> {{'SAR' | translate}} </span>  
            </div>
          </div>
        </ion-slide>
      </ion-slides>
    </ion-col>
  </ion-row>
  <div class="spin" *ngIf="loading">
    <ion-spinner name="bubbles"></ion-spinner>
  </div>
</div>
