/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

ion-content {
    --ion-background-color:#f5f6f6;
    color: #3c426d;
    height: 100%;
}

ion-button {
    --box-shadow: none;
    text-transform: none;
    font-weight: bold;
}

.primary-text {
    color: #3c426d;
    font-weight: bold;
}

.social-btn {
    background: #ffffff;
    width: 50px;
    height: 50px;
    position: relative;
    border-radius: 100%;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,0.2),0 2px 2px 0 rgba(0,0,0,0.14),0 1px 5px 0 rgba(0,0,0,0.12);
    outline: none;
}

.social-btn:active {
    background-color: #d8dadd;
}

.input-field {
    background-color: white; 
    margin-bottom:4px;
}

.normal-icon {
    color: #3c426d;
    opacity: 0.7;
}

.field-text {
    font-size: 12px;
    opacity: 50%;
    padding-left: 7px;
}

.filter-modal .modal-wrapper {
    width: 100%;
    left: 0px;
    position: absolute;
    height: 70%;
    top: 30%;
    background: transparent !important;
}

.bold-opacity-title {
    color: #3c426d; 
    font-weight: bold; 
    opacity: 0.8;
}

.opacity-title {
    color: #3c426d;
    opacity: 0.8;
}

.spin{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
 }
 
 ion-spinner {
    width: 28px;
    height: 28px;
    stroke: #444;
    fill: #222;
 }

 .dish-modal .modal-wrapper {
    width: 100vw;
    position: absolute;
    height: 100vh;
    top: 0vh;
    background-color: rgba(0, 0, 0, .5) !important;
}

.no-content-label {
    color: #3c426d;
}