.offer-top {
    height: 35px;
    background: #f68625;
    text-align: center;
    color: white;
    font-size: 17px;
    padding: 7px;
}

.cover-div {
    position: relative;
    margin-bottom: 10px;
    box-shadow: 1px 2px 2px #d8d2d2;
}

.top-div {
    position: absolute;
    top: 0px;
    height: 25px;
    background: #f68625;
    width: 100%;
    padding: 4px 4px;
    text-align: center;
}

.offer-title {
    color: white;
    font-size: 13px;
}

.cover-img {
    z-index: -1;
}

.bottom-div {
    height: 25px;
    background: white;
    color: #3c426d;
    font-size: 13px;
}

.logo-img {
    position: absolute;
    right: 10px;
    bottom: 12px;
    border-radius: 50%;
}

.heart-img {
    position: absolute;
    left: 10px;
    bottom: 35px;
    z-index: 10;
}